p{
    text-align: center;
    margin: 200px auto;
    font-size: 20px;
}

input[type=submit].back_btn {
    margin-left: 5px;
    padding: 10px 10px;
    background-color: #650ea8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}